<div class="card profile-card-1">
  
  <img src="assets/img/reda.jpg" alt="profile-image" class="profile"/>
      <div class="card-content">
      <h2> Réda Bouazzaoui<small>Developpeur FULL STACK</small></h2>
      <div class="icon-block">
        <a href="https://www.facebook.com/reda.redox.54" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/BouazzaouiReda" target="_blank"> <i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/r%C3%A9da-bouazzaoui-065120137/" target="_blank"> <i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/RdaBouazzaoui" target="_blank"> <i class="fa fa-github"></i></a>
      </div>
      </div>
  </div>
