

  <!-- <div class="form-group">
    <label>Nom d'utilisateur</label>
    <input type="text" class="form-control" formControlName="username">
  </div>
  <div class="form-group">
    <label>Mot de passe</label>
    <input type="password" class="form-control" formControlName="password" >
  </div>
  <button type="submit" class="btn btn-primary">OK</button> -->
  <script  ></script>
  <section class="contact pt-100 pb-100" id="contact">
    <div class="container">
       <div class="row">
          <div class="col-xl-6 mx-auto text-center">
             <div class="section-title mb-100">
                <h4>contactez-moi</h4>
             </div>
          </div>
       </div>
       <div class="row text-center">
             <div class="col-md-8">
                <form [formGroup]="cont" (ngSubmit)="sendMessage()" class="contact-form" >
                   <div class="row">


                      <div class="col-xl-6" >
                         <input class="form-control" type="text" placeholder="name" formControlName="name" >
                         <div *ngIf="cont.controls['name'].invalid && (cont.controls['name'].dirty || cont.controls['name'].touched)" class="alert alert-danger">
                           <div *ngIf="cont.controls['name'].errors.required">
                           Name is required.
                         </div>
                         </div>
                        </div>


                      <div class="col-xl-6">
                         <input type="text" placeholder="email" formControlName="email" >
                         <div *ngIf="cont.controls['email'].invalid && (cont.controls['email'].dirty || cont.controls['email'].touched)" class="alert alert-danger">
                           <div *ngIf="cont.controls['email'].errors.required">
                           Name is required.
                         </div>
                         </div>
                      </div>


                      <div class="col-xl-6">
                         <input type="text" placeholder="subject" formControlName="subject">
                      </div>
                      <div class="col-xl-6">
                         <input type="text" placeholder="telephone" formControlName="telephon">
                      </div>

                      <div class="col-xl-12">
                         <textarea placeholder="message" cols="30" rows="10"formControlName="message" ></textarea>
                         <input type="submit" value="send message" [disabled]="cont.pristine || cont.invalid" class="btn">
                      </div>
                      
                   </div>
                </form>
             </div>
             <div class="col-md-4">
                <div class="single-contact">
                   <i class="fa fa-map-marker"></i>
                   <h5>Address</h5>
                   <p>1981 av des erables montreal qc canada</p>
                </div>
                <div class="single-contact">
                   <i class="fa fa-phone"></i>
                   <h5>Phone</h5>
                   <p>(+1) 514 991 2026</p>
                </div>
                <div class="single-contact">
                   <i class="fa fa-envelope"></i>
                   <h5>Email</h5>
                   <p>reda.bouazaoui@gmail.com</p>
                </div>
             </div>
       </div>
    </div>
 </section>
