<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<header class="topbar fixed-bottom">
 
  <div class="container">
    
    <div class="row">
     
     
      <!-- social icon -->
      <div class="col-sm-12">
       
        <ul class="social-network">
          <li><a class="waves-effect waves-dark" href="https://www.facebook.com/reda.redox.54" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a class="waves-effect waves-dark" href="https://twitter.com/BouazzaouiReda" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a class="waves-effect waves-dark" href="https://www.linkedin.com/in/r%C3%A9da-bouazzaoui-065120137/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li><a class="waves-effect waves-dark" href="https://github.com/RdaBouazzaoui" target="_blank"> <i class="fa fa-github"></i></a></li>
         
        </ul>
        <div class="footer-copyright text-center py-3" style="color: aliceblue;">© 2020 Copyright :  Réda Bouazzaoui
        </div>
      </div>
      

    </div>
  </div>
</header>

